# source documents #
###################
/Labs/lab*/*.docx
/Labs/lab*/*Solutions.*
/Labs/lab*/img
/Labs/lab*/ltSpice

/workbook/*/*Solutions*.*
/workbook/*/img

/*Resources/*.lck
/*Resources/*.s#*
/*Resources/*.b#*
/*Resources/*.scr

# lock files
.~lock*
