# source documents #
###################
/Labs/lab*/*.docx
/Labs/lab*/*Solutions.*
/Labs/lab*/img

/workbook/*/*.docx
/workbook/*/*Solutions.*
/workbook/*/img

/*Resources/*.lck
/*Resources/*.s#*
/*Resources/*.b#*
/*Resources/*.scr

# lock files
.~lock*